commands:
  01-command:
      command: mkdir -p /etc/td-agent/conf.d

files:
  "/etc/td-agent/td-agent.conf":
    owner: root
    group: root
    content: |
      include conf.d/*.conf
  "/etc/td-agent/conf.d/forword.conf":
    owner: root
    group: root
    content: |
      <source>
        type forward
        port 24224
        bind 0.0.0.0
      </source>
  "/etc/td-agent/conf.d/nginx.conf":
    owner: root
    group: root
    content: |
      <source>
        type tail
        path /var/log/nginx/access.log
        pos_file /var/log/td-agent/nginx-access.pos
        tag worker.nginx
        format nginx
      </source>
  "/etc/td-agent/conf.d/app.conf":
    owner: root
    group: root
    content: |
      <source>
        type tail
        path /tmp/sinatra.log
        pos_file /var/log/td-agent/sinatra.log.pos
        tag worker.app
        format /(?<short_level>[^ ]*) \[(?<time>[^\]]*)\] [^ ]* (?<level>[^ ]*) (?<separate_1>[^ ]*) (?<separate_2>[^ ]*) (?<message>[^ ]*)/
      </source>
  "/etc/td-agent/conf.d/stdout.conf":
    owner: root
    group: root
    content: |
      <match *.*>
        type stdout
      </match>

commands:
  01-command:
      command: echo 'Defaults:root    !requiretty' >> /etc/sudoers

  02-command:
      command: curl -L https://td-toolbelt.herokuapp.com/sh/install-redhat-td-agent2.sh | sh

  03-command:
      command: /etc/init.d/td-agent restart
